body {
    margin: 0;
    background-image:   
        linear-gradient(rgba(90, 55, 47, 0.5), rgba(112, 69, 59, 0.5)), 
        url(sandwich-cuisine.jpg);
    background-size: cover;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
}
#order-form {
  margin: auto;
  padding: 0;
  width: 100%;  
}

#survey-form {
    background-color: white;
    box-shadow: 3px 10px 3px 5px rgba(112, 69, 59, .4);
    padding: 30px;
}
.heading {
    background-color: rgb(90, 55, 47);
    color: whitesmoke;
    text-align: center;
    padding: 30px;
    box-shadow: 3px 1px 3px 5px rgba(112, 69, 59, .4);
}
#title {
    text-align: left;
    margin: 0;
}
#description {
    text-align: left;
    margin: 0;
}
.fields {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 100px 200px;
    grid-template-rows: 30px repeat(3);
}
#number {
width: 100px;
}
#submit {
    color: whitesmoke;
    background-color: rgb(61, 70, 61);
    padding: 10px;
    border: none;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
#textarea {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 600px) {
    #order-form {
        margin: 20;
        padding: 20px;
        width: 500px;  
    } 
}